.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 2rem;
    flex-grow: 1;
}