.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pageInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.rightIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.logo {
  width: 32%;
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchWrapper {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 0.9rem;
  background-color: white;
}

.titleWrapper {
  min-width: 100px; /* Prevents layout shifting */
}