.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pageInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.rightIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}