.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: absolute;
    padding: 3rem 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9D0208;
    width: 100%;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    position: relative;
    gap: 5px;
    margin-bottom: 0.7rem;
}
.logo {
    width: 32%;
}

.subtitle {
    position: relative;
    font-size: 0.65rem;
    color: #9D0208;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-bottom: 2rem;
}

.csunite-logo {
    width: 45%;
}

.welcome {
    font-size: 1.3rem;
    font-weight: regular;
    margin: 0;
    color: #9D0208;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 0.3rem;
}

.form-input {
    width: 100%;
    height: 48px;
    padding: 1rem 1.8rem;
    border: 1px solid #9D0208;
    border-radius: 50px;
    box-sizing: border-box;
    background: white; /* Make sure the input has a solid background */
    font-size: 1rem;
}

.password-toggle-icon {
  position: absolute;
  right: 32px;
  top: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label {
    position: relative;
    left: 1rem;
    color: #9D0208;
    font-size: 1rem;
    pointer-events: none;
    font-weight: bold;
}


.error {
    height: 2rem;
    width: auto;

}
.submit {
    border: none;
    color: #fff;
    background-color: #9D0208;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.bottom-section {
    width: 100vh;
    height: auto;
    max-height: 40%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.bottom-background {
    object-fit: cover;
    translate: 10px 0px;
}