.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0.8rem;
}

.container span {
    font-size: 1rem;
    font-weight: bold;
}

.topicList {
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    gap: 10px;
}

.topicTag {
    display: inline-block;
    padding: 0.3rem 1rem;
    border: 1px solid #aaa;
    border-radius: 20px;
    font-size: 0.6rem;
    cursor: pointer;
    background-color: #f5f5f5;
}