.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.container span {
  font-size: 1rem;
  font-weight: bold;
  color: #98050a;
}

.topicList {
  display: flex;
  flex-wrap: wrap;
  width: 150%;
  gap: 7px;
}

.topicButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.noCommunitiesText {
  color: #888;
  font-size: 16px;
  margin-top: 1rem;
  text-align: center;
}
.topicTag {
  display: inline-block;
  padding: 0.3rem 1rem;
  border: 1px solid #aaa;
  border-radius: 20px;
  font-size: 0.6rem;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #000;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.selected {
  background-color: #98050a;
  color: #fff;
  border-color: #98050a;
  border-radius: 20px;
}
